
.wrapper{
    position: relative;
    height: 390px;
    width: 410px;
    background:transparent;
    border:2px solid rgba(255, 255, 255, .5);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0 ,.5);
    margin : 25px 0 8px 

}
.wrapper h1{
    margin-top: 2px;
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 95%;
    margin: 30px auto; /* Centers the input box horizontally */
    height: 45px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    color:black;
    padding: 15px 25px 15px 15px;
}

.input-box input::placeholder{
    color:black;

}

.input-box .icon{
     position: absolute;
     right: 20px;
     top: 50%;
     transform: translateY(-50%);
     font-size: 16px ;

}


.wrapper button {
    width: 50%;
    position: relative;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 100px; /* Centers the button horizontally */
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}


.wrapper .Register-Link{
    font-size: 14.5px;
    text-align: center;
    margin: 30px 0 15px;
}

.Register-Link p a{
      color:#77B6A3;
      text-decoration: none;
      font-weight: 600;
}
.Register-Link p :hover{
    text-decoration: underline;
}